<div class="col-md-12">
    {{input value=attendeeName id='attendeeName' placeholder="Attendee Name" class="form-control"}}
  <h5>Select Groups (optional): </h5>

  {{multiselect-checkboxes options=eventGroups onchange=(action 'updateSelection') labelProperty='name' class="checkbox" tagName='div'}}

  <br>
  <button {{action 'saveAttendee'}} class="btn btn-info">Add Attendee!</button>
  <p {{action 'cancelAdd'}}>Cancel</p>
</div>  
