<div class="well">
  {{input value=group.name id='groupName' placeholder="Group Name" class="form-control"}}

  <h5>Select Attendees (optional): </h5>
  {{multiselect-checkboxes options=eventAttendees onchange=(action 'updateSelection') labelProperty='name'}}
  <br>

  <div class="text-center">
    <button {{action 'saveGroup'}} class="btn btn-info">Create Group</button>
    <br><br>
    <p {{action 'cancelAdd'}}>Cancel</p>
  </div>
</div>