<table class="table table-hover">
  <thead>
    <tr>
      <th>Attendee</th>
      <th>Amount Due</th>
      <th>Expenses</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.attendees as |attendee|}}
    <tr>
      <td>{{attendee.name}}</td>
      <td>{{attendee.amount_due}}</td>
      <td>{{attendee.total_expenses}}</td>
      <td>{{attendee.balance}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>