Gathering
<ul>
  <li><h4>Name: <small>{{model.name}}</small></h4></li>
  <li>Tagline: {{model.tagline}}</li>
  <li>Attendees:
    <ul>
      {{#each model.attendees as |att|}}
      <li>{{att.name}}</li>
      {{/each}}
    </ul>
  </li>
</ul>
<hr>
{{outlet}}
